
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

    border: none;
    outline: none;
    box-sizing: border-box;
    
}

.container-principal {
    background-color: var(--branco-0);
    
    margin-left: var(--espaco-margem);
    margin-right: var(--espaco-margem);
}

.cabecalho {
    width: 100%;
    margin-top: var(--espaco-xg);

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px 72px;

    grid-template-areas: "imagem info-usuario info-usuario ."
                          "imagem tarefa-usuario tarefa-usuario .";

    gap: var(--grid-gap);

    padding-top: var(--espaco-p);
}

.imagem {
    border-radius: 50%;
    
    width: 56px;
    height: 56px;

    grid-area: imagem;
}


.usuario_nome {
    
    color: var(--preto-800);
    font-size: var(--fonte-g);
    font-weight: bold;
    text-align: center;

    grid-area: info-usuario;

}

.usuario_tarefa {
    
    color: #a3a3a3;
    font-size: var(--fonte-pp);
    font-weight: bold;
    text-align: center;

    grid-area: tarefa-usuario;

}

.consulta__info {
    margin-top: var(--espaco-m);
}

.info_consulta {
    grid-area: paciente;
}

.info_consulta > .cliente_nome {
    
    color: var(--preto-800);
    font-size: var(--fonte-p);
    font-weight: bold;
    text-align: center;
}


.info_consulta > .consulta_tipo {

    color: #a3a3a3;
    font-size: var(--fonte-pp);
    font-weight: bold;
    text-align: center;

}

.consulta_tipo::before {
    background-image: url('img/Vector.svg');
}

.consulta_horario {
    
    color: var(--preto-800);
    font-size: var(--fonte-pp);
    font-weight: 500;
    text-align: center;

    grid-area: horario;
}

.cartao__consultaRemota {
    
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: "imagem paciente paciente mensagem"
                         "horario horario . ."
                         "botao-video botao-video botao-audio botao-audio";

    gap: 8px;

    background-color: var(--branco-0);

    width: 100%;
    height: 170px;

    border-radius: var(--borda-m);
    
    margin-bottom: var(--espaco-m);
    padding: var(--espaco-m);

}

.cliente_foto {
    grid-area: imagem;
    
    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.botao__video {

    color: var(--branco-0);
    font-weight: 500;

    height: 48px;
    
    background-color: var(--laranja-300-secundario);
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.016);
    border-radius: var(--borda-m);

    grid-area: botao-video;

    cursor: pointer;
}

.botao__audio {

    color: var(--preto-800);
    font-weight: 500;

    height: 48px;

    background-color: var(--branco-0);
    border: 1px solid #ececec;
    border-radius: 8px;
    box-sizing: border-box;

    grid-area: botao-audio;

    cursor: pointer;
}

.cartao__consultaPresencial {
    background-color: var(--branco-0);
    backdrop-filter: blur(22px);

    width: 100%;
    height: 170px;

    border-radius: var(--borda-m);

    padding-top: var(--espaco-p);

}

.cartao__consultaPresencial {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 30px 70px ;
    grid-template-areas: "imagem paciente paciente mensagem"
                         "horario horario . ."
                         "botao-endereco botao-endereco botao-endereco botao-endereco";

    gap: 8px;

    background-color: var(--branco-0);
    backdrop-filter: blur(22px);

    width: 100%;
    height: 170px;

    border-radius: var(--borda-m);
    
    margin-bottom: var(--espaco-m);
}

.botao__endereco {
    color: var(--branco-0);
    font-weight: 500;

    height: 48px;
    
    background-color: var(--azul-500-primario);
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.016);
    border-radius: var(--borda-m);

    grid-area: botao-endereco;

    cursor: pointer;
}

.adicionar__consulta {
    color: var(--branco-0);
    
    font-weight: bold;
    font-size: var(--fonte-base);

    position: fixed;

    width: 56px;
    height: 56px;
    
    top: 80vh;
    left: 78vw;

    border-radius: 100%;
    background-color: var(--azul-500-primario);
    box-shadow: 0px 4px 4px rgba(255, 152, 56, 0.06);

    cursor: pointer;
}

.menu__rodape {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 58px;
    grid-template-areas: "consulta cliente relatorio menu";
    gap: 8px;

    background-color: var(--branco-0);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);

    border-radius: 12px 12px 0px 0px;

    position: fixed;
    width: 100%;

    top: 90vh;
}

.menu__rodape > a {
    text-decoration: none;
}

.botao__rodape {
    border: none;
    color: var(--preto-800);
    font-weight: 400;
    font-size: var(--fonte-pp);
    text-align: center;

    background: var(--branco-0);

    cursor: pointer;
}

.botao__rodape:hover{
    color: var(--azul-500-primario);
}